$bg: rgb(24, 24, 24);

$primary: rgb(250, 250, 252);
$secondary: rgb(87, 87, 87);

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.fw-bold {
  font-weight: 500;
}

.fz-12 {
  font-size: 12px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-12 {
  padding: 12px;
}

.radius-4 {
  border-radius: 4px;
}

.radius-8 {
  border-radius: 8px;
}

.w-100 {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-50 {
  opacity: 0.5;
}
